<br>
<div class="jumbotron">
  <h1><%= @book.title %>の編集</h1>
  <p class="lead">より良い情報を伝えてあげよう</p>
  <hr class="my-4">
  <p>共有された参考書を調べて自分の力に！<br></p>
  <!--<a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">新規登録</a>-->
</div>