<% breadcrumb :root %>
<br>
<div class="jumbotron">
  <h1 class="display-4">ようこそ！</h1>
  <p class="lead">おすすめの参考書を紹介して共有しよう</p>
  <hr class="my-4">
  <p>共有された参考書を調べて自分の力に！<br>
  今すぐ新規登録して確認してみよう</p>
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="card-deck">
  <div class="col-4">
    <br>
      <div class="card">
        <%= image_tag "/ITパスポート.jpeg", size: "318x400", class: "rounded" %>
        <div class="card-body">
          <h5 class="card-title">ITパスポート テキスト&問題集</h5>
          <p class="card-author">丸山紀代</p>
          <span>カテゴリ：</span>
          <span>ITパスポート</span>
          <br><br>
          <div class="d-flex justify-content-between">
            <p>コメント 6</p>
            <p>❤︎ 20</p>
          </div>
          <hr>
          <p class="card-user">投稿者：田中太郎</p>
          <p class="card-text">わかりやすい上に問題も沢山載っていて、この一冊で合格できました！！</p>
          <p class="card-text"><small class="text-muted">2021-05-27 15:40</small></p>
        </div>
      </div>
  </div>
  <div class="col-4">
    <br>
      <div class="card">
        <%= image_tag "/基本情報.jpeg", size: "318x400", class: "rounded" %>
        <div class="card-body">
          <h5 class="card-title">基本情報技術者パーフェクトラーニング</h5>
          <p class="card-author">山本三雄</p>
          <span>カテゴリ：</span>
          <span>基本情報処理技術者</span>
          <br><br>
          <div class="d-flex justify-content-between">
            <p>コメント 14</p>
            <p>❤︎ 34</p>
          </div>
          <hr>
          <p class="card-user">投稿者：佐藤俊明</p>
          <p class="card-text">非常に多くの問題が載っているにもかかわらず安い！実際の試験ではほとんどこの中から出題されました！！</p>
          <p class="card-text"><small class="text-muted">2021-05-23 10:20</small></p>
        </div>
      </div>
  </div>
  <div class="col-4">
    <br>
      <div class="card">
        <%= image_tag "/応用情報.jpg", size: "318x400", class: "rounded" %>
        <div class="card-body">
          <h5 class="card-title">キタミ式応用情報技術者</h5>
          <p class="card-author">きたみりゅうじ</p>
          <span>カテゴリ：</span>
          <span>応用情報処理技術者</span>
          <br><br>
          <div class="d-flex justify-content-between">
            <p>コメント 43</p>
            <p>❤︎ 56</p>
          </div>
          <hr>
          <p class="card-user">投稿者：佐々木由実</p>
          <p class="card-text">とにかく読みやすい。最初から最後までスラスラ読めちゃう！！是非おすすめです！</p>
          <p class="card-text"><small class="text-muted">2021-05-08 21:13</small></p>
        </div>
      </div>
  </div>
</div>
<br>
<br>